<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="org.example.utils.CustomTestListener"/>
    </listeners>
    <parameter name="browser" value="chrome" />
    <parameter name="user" value="jesus.traslavina@xpo.com" />
    <parameter name="password" value="Trasla27" />
    <test name="NewAgreementTest">
        <classes>
            <class name="org.example.tests.FirstTest" />
        </classes>
    </test>
</suite>
