<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="org.example.utils.CustomTestListener"/>
    </listeners>
    <parameter name="browser" value="firefox" />

    <test name="PurchaseTest">
        <classes>
            <class name="org.example.tests.PurchaseTest" />
        </classes>
    </test>

    <test name="DeleteTest">
        <classes>
            <class name="org.example.tests.DeleteTest" />
        </classes>
    </test>

    <test name="LogoutTest">
        <classes>
            <class name="org.example.tests.LogoutTest" />
        </classes>
    </test>
</suite>
